  - name: Install Nmap
    dnf: 
      name: nmap
      state: present
      
  - name: Install Htop
    dnf: 
      name: htop
      state: present


  - name: Install xclip
    dnf:
      name: xclip
      state: present

  - name: Install Midnight Commander
    dnf:
      name: mc
      state: present
      
  - name: Install VLC
    dnf: 
      name: vlc
      state: present
    tags: vlc
    
  - name: Install RpmFusion's multimedia codecs
    dnf:
      name: '@multimedia'
      state: present
      
  - name: Gnome Specific
    include: "gnome.yml"