---

  - name: Install NetworkManager Text User Interface
    become: yes
    package:
      name: NetworkManager-tui
      state: present

  - name: Install OpenSSH
    become: yes
    package:
      name: openssh-server
      state: present

  - name: Enable & start SSH daemon
    service:
      name: sshd
      enabled: yes
      state: started

  - name: Install Cockpit
    become: yes
    package:
      name: cockpit
      state: present


  - name: Install Cockpit's Docker integration
    become: yes
    package:
      name: cockpit-docker
      state: present

  - name: Enable & start Cockpit
    service:
      name: cockpit
      enabled: yes
      state: started