  - name: Install the 'Development tools' package group
    dnf:
      name: '@Development tools'
      state: present
  
  - name: Install Vim
    dnf: 
      name: vim
      state: present
    
  - name: Install Git
    dnf: 
      name: git
      state: present
      
  - name: Install Gnome Builder
    become: yes
    package:
      name: gnome-builder
      state: present

  - name: Install Tilix (Tiling terminal)
    become: yes
    package:
      name: tilix
      state: present